In [ ]:
"""
1.
rewrite the following variables correctly just below each variable inside this comment
2number, first-name, last name
number2, first_name, lastName
"""

In [2]:
"""
2.
take two integer inputs and print their sum
ex: 
10
20
sum is 30
"""
num1 = int(input("Enter Num1:"))
num2 = int(input("Enter Num2:"))
print("sum is", num1+num2)

sum is 120

In [ ]:
"""
3.
take two float inputs and print their sum
ex: 
25.5
25.5
sum is 51.0
"""
num1 = float(input("Enter Num1:"))
num2 = float(input("Enter Num2:"))
print("sum is", num1+num2)

In [3]:
"""
4.
take two string inputs, first_name and last_name, print the full name
ex: 
akhil
chowdary
fullname: akhil chowdary
"""
first_name = input("Enter firstname:")
last_name = input("Enter lastname:")
print("fullname:", first_name, last_name)

fullname: akhil chowdary

In [5]:
"""
5.
take string input and integer input and print the following message
ex: akhil
     24
Hello akhil, you are 24 years old
"""
name = input("Enter Name:")
age = int(input("Enter Age:"))
print(f"Hello {name}, you are {age} years old")

Hello akhil, you are 24 years old

In [ ]:
""" 
6. 
write Type conversions for every primitive & composite data types
"""

In [ ]:
""" 
7. 
convert a integer input to float and 
find the address of that variable before and after conversion.
"""

In [ ]:
""" 
8.
Take a string input for name. 
Print a welcome message for Banking

sample input:
akhil
sample output:
Hey akhil, Happy HDFC Banking :)
"""

In [ ]:
""" 
9. 
take three integer inputs and print their sum by using f""

sample input:
10
20
30
sample output:
Sum of 10, 20 and 30 is 60.
"""

In [ ]:
""" 
10. 
take three integer inputs and print their product by using f""

sample input:
1
2
3
sample output:
Product of 1, 2 and 3 is 6.
"""

In [ ]:
""" 
11.
take age from the user and print the double of his age 

sample input:
24
sample output:
48
"""

In [ ]:
""" 
12.
take salaries of two persons and print their salary differences

sample input:
24000
20000
sample output:
4000
"""

In [ ]:
""" 
13.
take the age input and check if he is old or not(greater than 60 is old)

sample input:
50
sample output:
False
"""

In [ ]:
""" 
14.
take the number input and print the cube of it using short hand assignment operators

sample input:
5
sample output:
125
"""

In [ ]:
""" 
15.
take a sentence and a word inputs, check if word exists in sentence using membership operators

sample input:
I could do this all day
do
sample output:
True
"""

In [ ]:
""" 
16. Check the identity of all the primitive pairs and composite pairs

sample input 1:
12
12
sample output 1:
243546342435
243546342435

sample input 2:
[1,2,3]
[1,2,3]
sample output 2:
44353546342435
44353546340000
"""