In [ ]:
# variables and values 
name = "akhil"
age = 24
salary = 500.45
isMarried = False
isCommitted = True
age = 25

# del age

print(name)
print(salary)
print("salary")            
print("12324tdgyf.@$#%^$3546")
print('igehmvwaebhe')
print("""kdslkjfhgdbgdj""")
print('''codewala''')
print(age)

In [ ]:
# variable naming conventions
""" 
- should not have spaces in variable
- should not contain numbers at start
- should start with only alphabets or _
- to separate words in variable, you can use _ or capital letter in between
- should not use keywords as variables

snake case: is_married
camel case: isMarried
pascal casse: IsMarried

"""
# keywords (it is meant to be use for something(inbuilt))
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

In [ ]:
"""
data types

primitive: int, float, bool, str
composite/non-primitive: list [], tuple (), set {}, dict {key:value}
"""
name = "akhil"
age = 24
salary = 500.45
isMarried = False
isCommitted = True
age = 25

print("Primitive Data Types:")
print(name)
print(age)
print(salary)
print(isMarried)
print(isCommitted)

names = ["akhil", "adithya", "hari", 120, True, 234.3, "akhil"]
ages = (24,24, 45, 234, "ravi", "cherry")
numbers = {1, 1, 2, 3, 4, 5}
data = {"name":"akhil", "age":24, "isCommitted":True, 100:"id"}

print()

print("Composite Data Types:")
print(names)
print(ages)
print(numbers)
print(data)

In [ ]:
# input, output(print)
name = input("Please Enter Name:")
print("Name Entered", name)

print()

age = int(input("Please Enter Age:"))
print("Age Entered", age)

print()

salary = float(input("Please Enter salary:"))
print("salary Entered", salary)

In [ ]:
# type conversions
""" 
str -> int
str -> float
str -> bool

int/float/bool -> str

int -> float
float -> int
"""

print("str->int")
age = "200"
print(f"Before Converting {type(age)}")

age = int(age)
print(f"After Converting {type(age)}")

# ---
a = "200.2"
print(a, type(a))

a = float(a) #200.2
a = int(a) #200
print(a, type(a))

print("--------------------------------------")

print("str->float")
salary = "200.5"
print(f"Before Converting {type(salary)}")

salary = float(salary)
print(f"After Converting {type(salary)}")

print("--------------------------------------")

# all zeroes, empties are False
print("str->bool")
num = ""
print(f"Before convering:{type(num)}")

num = bool(num)
print(f"After conversion:{type(num)}")

print("--------------------------------------")

print("int/float/bool -> str")
# no problem while converting into string
age = 20
salary = 234.5
isMarried = False
print("Before Conversion")
print(age, type(age))
print(salary, type(salary))
print(isMarried, type(isMarried))

print()

age = str(age)
salary = str(salary)
isMarried = str(isMarried)
print("After Conversion")
print(age, type(age))
print(salary, type(salary))
print(isMarried, type(isMarried))

print("----------------------------")

print("int->float")
age = 20
print(f"Before Conversion {age}, {type(age)}")

age = float(age)
print(f"After Conversion {age}, {type(age)}")

print("----------------------------")

print("float->int")
age = 20.2
print(f"Before Conversion {age}, {type(age)}")

age = int(age)
print(f"After Conversion {age}, {type(age)}")

In [ ]:
# memory model
name = "akhil"
print(f"{name} stored at physical address: {id(name)}")

name = "akhil chowdary"
print(f"{name} stored at physical address: {id(name)}")

age = 30
print(f"{age} stored at physical address: {id(age)}")

nums = [1, 2, 3]
print(f"{nums} stored at physical address: {id(nums)}")

In [ ]:
""" 
operators
  -Arithmetic Operators (+, -, *, /, //, %, **)
  -Relational Operators (<, >, ==, >=, <=)
  -Logical Operators (and, or, not)
  -Short-hand Assignment Operators (+=, -=, *=, /=, //=, %=, **=)
  -Membership Operators (in, not in)
  -Identity Operators (is, is not)
"""
print("Arithmetic Operators (+, -, *, /, //, %, **)")
age = 24
age = age + 5
age = age * 2
age = age - 8
age = age//2
print(age)

print(f"25/2 ==== {25/2}")
print(25//2)
print(3 ** 10)

print(40//2) # quotient
print(40%2) # reminder

In [ ]:
print("Relational Operators (<, >, ==, >=, <=)")
a = 10
b = 10
print(f"{b} > {a} =========== {b>a}")
print(f"{b} < {a} =========== {b<a}")
print(f"{b} == {a} =========== {b==a}")
print(f"{b} >= {a} =========== {b>=a}")
print(f"{b} <= {a} =========== {b<=a}")

In [ ]:
print("Logical Operators (and, or, not)")
a = 10
b = 20
print(f"a>b and a>5 =========== {a>b and a>5}") # print(False and True)
print(a>b or a>15) # print(False or False)
print(a>b or a>15) # print(False or False)
print(not a>b)

print(10>20 and 10>30 and 10==10) #print(False and False and True)
print(10>20 or 10>30 or 10==10) #print(False or False or True)

In [ ]:
# Tasks on logical operators
"""
check if he is a perfect man
conditions: 
  age should be greater than 18
  gender should be male
"""

age = int(input("Enter Age:"))
gender = input("Enter Gender:")
print(f"Perfect Man = {age>18 and gender=="male"}")

""" 
Accept if it is a boy or girl
"""
gender = input("Enter Gender:")
print(f"Acceptable: {(gender=="girl") or (gender=="boy")}")

""" 
check the speed is danger or not
safe limit is 80
"""
speed = int(input("Enter Speed:"))
print(f"Driving Safe: {speed<80}")

In [ ]:
print("Short-hand Assignment Operators (+=, -=, *=, /=, //=, %=, **=)")
age = 24
# age = age + 5
age += 5

# age = age * 2
age *= 2

# age = age - 8
age -= 8

# age = age//2
age //= 2

# age = age ** 3
age **= 3

print(age)

In [ ]:
name = "nikhil"
age = 24
gender = "male"
city = "kansas"
print(f"There is a person named {name} and he is {age} years old and he is {gender}, living in {city}")

In [ ]:
# print("Membership Operators (in, not in)")
# print("i" in "akhil")
# print(1 in [1, 2, 3, 4])
# print("z" not in "akhil")

kansas = ["akhil", "nikhil", "rao"]
person = input("Person to check:")
print(f"{person} in {kansas} =====> {person in kansas}")

In [ ]:
print("Identity Operators (is, is not)")
# checks the address

nums1 = [1, 2, 3]
nums2 = [1, 2, 3]
print(f"nums1 == nums2 -> {nums1 == nums2}") #checks each elements
print(nums1 is nums2) #checks id --> id(nums1) == id(nums2)
print(nums1 is not nums2)

strings
  -representation -> '', ""
  -indexing       -> akhil -> 0=a, 1=k 
  -negative indexing -> akhil -> -1=l, -2=i
  -quote character in string -> akhil\'s
  -multi line string(using \,triple quotes)
  -string concatenation
  -strings mutable or not
  -unicode
  -slicing(+ve, -ve)

In [ ]:
# strings "", ''
name = "akhil chowdary"
print(name)
print(name[2])
print(name[13]) #+ve indexing
print(name[-1]) #-ve indexing

In [ ]:
# quote character in string
print('chowdary\'s car')
print("chowdary\'s car")
print("""chowdary's car""")

# multi line string(using \, triple quotes)
story = "once upon a time there lived a king \
    called sri krishna devarayulu in india country"
print(story)


story = """once upon a time there lived a king 
    called sri krishna devarayulu in india country"""
print(story)

In [ ]:
# string concatenation (should works if both are same data types)
sur_name = "chittabaneni"
first_name = "akhil"
last_name = "chowdary"
print(sur_name + "." + first_name + " " + last_name)

print("1" + str(1))

In [11]:
# mutable(changeble) vs immutable(unchangeble)
name = "akhil" # immutable
age = 20 # immutable

arr = [1, 2, 3] # mutable
nums = {1, 2, 3} # mutable

print(id(name), id(age), id(arr), id(nums))

# -------------------------------------------------
name += "chowdary"
# print(name)

age -= 5
# print(age)

arr.append(4)
# print(arr)

nums.add(10)
# print(nums)

print(id(name), id(age), id(arr), id(nums))

2434034298304 140703808420888 2434034246272 2434033489888
2434034283056 140703808420728 2434034246272 2434033489888

In [9]:
a=10
b=10
c=10

print(id(a), id(b), id(c))

140703808420568 140703808420568 140703808420568

In [5]:
# unicode

english = "akhil"
telugu = "హోమ్ · వార్తలు · ఆంధ్రప్రదేశ్"
japanese = "こんにちは。 · 3."
print(english)
print(telugu)
print(japanese)

a
హ
こ

In [53]:
# slicing (+ve, -ve)
name = "akhil chowdary | akhil@gmail.com"

# start:stop:jump
print("+ve slicing")
print(name[0:5])
print(name[0:5:2])
print(name[6::3])
print(name[6:14:2])
print(name[::])
print(name[:])

print("---------------------------------------")
name = "akhil@gmail.com"
print("-ve slicing")
print(f"name[-9:] -> {name[-9:]}") # gmail.com
print(name[-3::1]) # com
print(name[-15:-11]) # akhil
print(name[::-2])
print(name[::-1])

+ve slicing
akhil
ahl
cwr|klmlo
codr
akhil chowdary | akhil@gmail.com
akhil chowdary | akhil@gmail.com
---------------------------------------
-ve slicing
name[-9:] -> gmail.com
com
akhi
mclaglha
moc.liamg@lihka

In [64]:
# string functions
# upper
lower_name = "codewala"
upper_name = lower_name.upper()
print(lower_name)

akhil = "usa"
city = "NaMe654"

lower_akhil = akhil.upper()
city_lower = city.upper()

temp = lower_akhil.capitalize()

print(lower_akhil) #-> USA
print(city_lower)
print(temp)

codewala
USA
NAME654
Usa

In [57]:
""" 
strings -> 'kfjw1324#@#' "13424fwv@#@ ." 
"""
# # upper
# name = "akhilCHOWDARY"
# upper_name = name.upper()
# print(name)
# print(upper_name)

# # lower
# school = "CODEwala"
# tmp = school.lower()
# print(school)
# print(tmp)

# # capitalize
# state = "newyork"
# etc = state.capitalize()
# print(state)
# print(etc)

# # replace
# story = "we have just started driving"
# xyz = story.replace(" ", "-")
# xyz = xyz.replace("w", "W")
# print(xyz)

# # count
# story = "we have just started driving"
# cnt1 = story.count(" ")
# cnt2 = story.count(" ", 8)
# print(cnt1)
# print(cnt2)

# # len
# name = "akhil"
# print(len(name))

# # strip
# offer = "  we have 1+1 offer  "
# rmd = offer.strip()
# print(offer)
# print(rmd)

# # lstrip
# offer = "  we have 1+1 offer  "
# pns = offer.lstrip()
# print(offer)
# print(pns)

# # rstrip
# offer = "  we have 1+1 offer  "
# lmn = offer.rstrip()
# print(offer)
# print(lmn)

# # split
# story = "we have just started driving"
# pno = story.split()
# nop = story.split("s")

# print(story)
# print(pno)
# print(nop)
# user = "akhil-00-01"
# us = user.split("-")
# print(us)

# # join
# names = ["akhil", "chowdary", "usa"]
# result = "-"
# lms = result.join(names)
# print(lms)

# # find
# name = "noob"
# l = name.find("o")
# print(l)

# # rfind
# r = name.rfind("o")
# e = name.find("z")
# print(r)
# print(e)

# # index
# name = "akhihl"
# z = name.index("h")
# # p = name.index("z")
# print(z)
# print(p)

' \nstrings -> \'kfjw1324#@#\' "13424fwv@#@ ." \n'