In [ ]:
# variables and values 
name = "akhil"
age = 24
salary = 500.45
isMarried = False
isCommitted = True
age = 25

# del age

print(name)
print(salary)
print("salary")            
print("12324tdgyf.@$#%^$3546")
print('igehmvwaebhe')
print("""kdslkjfhgdbgdj""")
print('''codewala''')
print(age)

In [ ]:
# variable naming conventions
""" 
- should not have spaces in variable
- should not contain numbers at start
- should start with only alphabets or _
- to separate words in variable, you can use _ or capital letter in between
- should not use keywords as variables

snake case: is_married
camel case: isMarried
pascal casse: IsMarried

"""
# keywords (it is meant to be use for something(inbuilt))
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

In [ ]:
"""
data types

primitive: int, float, bool, str
composite/non-primitive: list [], tuple (), set {}, dict {key:value}
"""
name = "akhil"
age = 24
salary = 500.45
isMarried = False
isCommitted = True
age = 25

print("Primitive Data Types:")
print(name)
print(age)
print(salary)
print(isMarried)
print(isCommitted)

names = ["akhil", "adithya", "hari", 120, True, 234.3, "akhil"]
ages = (24,24, 45, 234, "ravi", "cherry")
numbers = {1, 1, 2, 3, 4, 5}
data = {"name":"akhil", "age":24, "isCommitted":True, 100:"id"}

print()

print("Composite Data Types:")
print(names)
print(ages)
print(numbers)
print(data)

In [ ]:
# input, output(print)
name = input("Please Enter Name:")
print("Name Entered", name)

print()

age = int(input("Please Enter Age:"))
print("Age Entered", age)

print()

salary = float(input("Please Enter salary:"))
print("salary Entered", salary)

In [ ]:
# type conversions
""" 
str -> int
str -> float
str -> bool

int/float/bool -> str

int -> float
float -> int
"""

print("str->int")
age = "200"
print(f"Before Converting {type(age)}")

age = int(age)
print(f"After Converting {type(age)}")

# ---
a = "200.2"
print(a, type(a))

a = float(a) #200.2
a = int(a) #200
print(a, type(a))

print("--------------------------------------")

print("str->float")
salary = "200.5"
print(f"Before Converting {type(salary)}")

salary = float(salary)
print(f"After Converting {type(salary)}")

print("--------------------------------------")

# all zeroes, empties are False
print("str->bool")
num = ""
print(f"Before convering:{type(num)}")

num = bool(num)
print(f"After conversion:{type(num)}")

print("--------------------------------------")

print("int/float/bool -> str")
# no problem while converting into string
age = 20
salary = 234.5
isMarried = False
print("Before Conversion")
print(age, type(age))
print(salary, type(salary))
print(isMarried, type(isMarried))

print()

age = str(age)
salary = str(salary)
isMarried = str(isMarried)
print("After Conversion")
print(age, type(age))
print(salary, type(salary))
print(isMarried, type(isMarried))

print("----------------------------")

print("int->float")
age = 20
print(f"Before Conversion {age}, {type(age)}")

age = float(age)
print(f"After Conversion {age}, {type(age)}")

print("----------------------------")

print("float->int")
age = 20.2
print(f"Before Conversion {age}, {type(age)}")

age = int(age)
print(f"After Conversion {age}, {type(age)}")

In [ ]:
# memory model
# MEMORY MODEL RANGE: -5 to 256
name = "akhil"
print(f"{name} stored at physical address: {id(name)}")

name = "akhil chowdary"
print(f"{name} stored at physical address: {id(name)}")

age = 30
print(f"{age} stored at physical address: {id(age)}")

nums = [1, 2, 3]
print(f"{nums} stored at physical address: {id(nums)}")

In [ ]:
""" 
operators
  -Arithmetic Operators (+, -, *, /, //, %, **)
  -Relational Operators (<, >, ==, >=, <=)
  -Logical Operators (and, or, not)
  -Short-hand Assignment Operators (+=, -=, *=, /=, //=, %=, **=)
  -Membership Operators (in, not in)
  -Identity Operators (is, is not)
"""
print("Arithmetic Operators (+, -, *, /, //, %, **)")
age = 24
age = age + 5
age = age * 2
age = age - 8
age = age//2
print(age)

print(f"25/2 ==== {25/2}")
print(25//2)
print(3 ** 10)

print(40//2) # quotient
print(40%2) # reminder

In [ ]:
print("Relational Operators (<, >, ==, >=, <=)")
a = 10
b = 10
print(f"{b} > {a} =========== {b>a}")
print(f"{b} < {a} =========== {b<a}")
print(f"{b} == {a} =========== {b==a}")
print(f"{b} >= {a} =========== {b>=a}")
print(f"{b} <= {a} =========== {b<=a}")

In [ ]:
print("Logical Operators (and, or, not)")
a = 10
b = 20
print(f"a>b and a>5 =========== {a>b and a>5}") # print(False and True)
print(a>b or a>15) # print(False or False)
print(a>b or a>15) # print(False or False)
print(not a>b)

print(10>20 and 10>30 and 10==10) #print(False and False and True)
print(10>20 or 10>30 or 10==10) #print(False or False or True)

In [ ]:
# Tasks on logical operators
"""
check if he is a perfect man
conditions: 
  age should be greater than 18
  gender should be male
"""

age = int(input("Enter Age:"))
gender = input("Enter Gender:")
print(f"Perfect Man = {age>18 and gender=="male"}")

""" 
Accept if it is a boy or girl
"""
gender = input("Enter Gender:")
print(f"Acceptable: {(gender=="girl") or (gender=="boy")}")

""" 
check the speed is danger or not
safe limit is 80
"""
speed = int(input("Enter Speed:"))
print(f"Driving Safe: {speed<80}")

In [ ]:
print("Short-hand Assignment Operators (+=, -=, *=, /=, //=, %=, **=)")
age = 24
# age = age + 5
age += 5

# age = age * 2
age *= 2

# age = age - 8
age -= 8

# age = age//2
age //= 2

# age = age ** 3
age **= 3

print(age)

In [ ]:
name = "nikhil"
age = 24
gender = "male"
city = "kansas"
print(f"There is a person named {name} and he is {age} years old and he is {gender}, living in {city}")

In [ ]:
# print("Membership Operators (in, not in)")
# print("i" in "akhil")
# print(1 in [1, 2, 3, 4])
# print("z" not in "akhil")

kansas = ["akhil", "nikhil", "rao"]
person = input("Person to check:")
print(f"{person} in {kansas} =====> {person in kansas}")

In [ ]:
print("Identity Operators (is, is not)")
# checks the address

nums1 = [1, 2, 3]
nums2 = [1, 2, 3]
print(f"nums1 == nums2 -> {nums1 == nums2}") #checks each elements
print(nums1 is nums2) #checks id --> id(nums1) == id(nums2)
print(nums1 is not nums2)

strings
  -representation -> '', ""
  -indexing       -> akhil -> 0=a, 1=k 
  -negative indexing -> akhil -> -1=l, -2=i
  -quote character in string -> akhil\'s
  -multi line string(using \,triple quotes)
  -string concatenation
  -strings mutable or not
  -unicode
  -slicing(+ve, -ve)

In [ ]:
# strings "", ''
name = "akhil chowdary"
print(name)
print(name[2])
print(name[13]) #+ve indexing
print(name[-1]) #-ve indexing

In [ ]:
# quote character in string
print('chowdary\'s car')
print("chowdary\'s car")
print("""chowdary's car""")

# multi line string(using \, triple quotes)
story = "once upon a time there lived a king \
    called sri krishna devarayulu in india country"
print(story)


story = """once upon a time there lived a king 
    called sri krishna devarayulu in india country"""
print(story)

In [ ]:
# string concatenation (should works if both are same data types)
sur_name = "chittabaneni"
first_name = "akhil"
last_name = "chowdary"
print(sur_name + "." + first_name + " " + last_name)

print("1" + str(1))

In [11]:
# mutable(changeble) vs immutable(unchangeble)
name = "akhil" # immutable
age = 20 # immutable

arr = [1, 2, 3] # mutable
nums = {1, 2, 3} # mutable

print(id(name), id(age), id(arr), id(nums))

# -------------------------------------------------
name += "chowdary"
# print(name)

age -= 5
# print(age)

arr.append(4)
# print(arr)

nums.add(10)
# print(nums)

print(id(name), id(age), id(arr), id(nums))

2434034298304 140703808420888 2434034246272 2434033489888
2434034283056 140703808420728 2434034246272 2434033489888

In [9]:
a=10
b=10
c=10

print(id(a), id(b), id(c))

140703808420568 140703808420568 140703808420568

In [5]:
# unicode

english = "akhil"
telugu = "హోమ్ · వార్తలు · ఆంధ్రప్రదేశ్"
japanese = "こんにちは。 · 3."
print(english)
print(telugu)
print(japanese)

a
హ
こ

In [53]:
# slicing (+ve, -ve)
name = "akhil chowdary | akhil@gmail.com"

# start:stop:jump
print("+ve slicing")
print(name[0:5])
print(name[0:5:2])
print(name[6::3])
print(name[6:14:2])
print(name[::])
print(name[:])

print("---------------------------------------")
name = "akhil@gmail.com"
print("-ve slicing")
print(f"name[-9:] -> {name[-9:]}") # gmail.com
print(name[-3::1]) # com
print(name[-15:-11]) # akhil
print(name[::-2])
print(name[::-1])

+ve slicing
akhil
ahl
cwr|klmlo
codr
akhil chowdary | akhil@gmail.com
akhil chowdary | akhil@gmail.com
---------------------------------------
-ve slicing
name[-9:] -> gmail.com
com
akhi
mclaglha
moc.liamg@lihka

In [64]:
# string functions
# upper
lower_name = "codewala"
upper_name = lower_name.upper()
print(lower_name)

akhil = "usa"
city = "NaMe654"

lower_akhil = akhil.upper()
city_lower = city.upper()

temp = lower_akhil.capitalize()

print(lower_akhil) #-> USA
print(city_lower)
print(temp)

codewala
USA
NAME654
Usa

In [ ]:
""" 
strings -> 'kfjw1324#@#' "13424fwv@#@ ." 
"""
# # upper
# name = "akhilCHOWDARY"
# upper_name = name.upper()
# print(name)
# print(upper_name)

# # lower
# school = "CODEwala"
# tmp = school.lower()
# print(school)
# print(tmp)

# # capitalize
# state = "newyork"
# etc = state.capitalize()
# print(state)
# print(etc)

# # replace
# story = "we have just started driving"
# xyz = story.replace(" ", "-")
# xyz = xyz.replace("w", "W")
# print(xyz)

# # count
# story = "we have just started driving"
# cnt1 = story.count(" ")
# cnt2 = story.count(" ", 8)
# print(cnt1)
# print(cnt2)

# # len
# name = "akhil"
# print(len(name))

# # strip
# offer = "  we have 1+1 offer  "
# rmd = offer.strip()
# print(offer)
# print(rmd)

# # lstrip
# offer = "  we have 1+1 offer  "
# pns = offer.lstrip()
# print(offer)
# print(pns)

# # rstrip
# offer = "  we have 1+1 offer  "
# lmn = offer.rstrip()
# print(offer)
# print(lmn)

# # split
# story = "we have just started driving"
# pno = story.split()
# nop = story.split("s")

# print(story)
# print(pno)
# print(nop)
# user = "akhil-00-01"
# us = user.split("-")
# print(us)

# # join
# names = ["akhil", "chowdary", "usa"]
# result = "-"
# lms = result.join(names)
# print(lms)

# # find
# name = "noob"
# l = name.find("o")
# print(l)

# # rfind
# r = name.rfind("o")
# e = name.find("z")
# print(r)
# print(e)

# # index
# name = "akhihl"
# z = name.index("h")
# # p = name.index("z")
# print(z)
# print(p)

' \nstrings -> \'kfjw1324#@#\' "13424fwv@#@ ." \n'

In [ ]:
""" 
string validation functions
  -startswith
  -endswith
  -isalpha
  -isdigit
  -isalnum
  -isupper
  -islower
"""
# startswith
# name1 = "ch.akhil"
# name2 = "p.akhil"
# name3 = "u.prabhas"
# print(name1[0:2]=="ch")
# print(name1.startswith("ch"))

# print(name2[0:2]=="ch")
# print(name2.startswith("ch"))

# print(name3[0:2]=="ch")
# print(name3.startswith("ch"))

# sen = "seventeen days ago"
# print(sen.startswith("seventeen"))

# # endswith
# name = "nikhil chowdary"
# print(name[-8:]=="chowdary")
# print(name.endswith("chowdary"))

# email1 = "akhil@gmail.com"
# email2 = "nikhil@outlook.com"
# email3 = "nikhil@codewala.info"

# print(email1.endswith("@gmail.com"))
# print(email2.endswith("@gmail.com"))
# print(email3.endswith("@gmail.com"))

# print(email1.endswith("@outlook.com"))
# print(email2.endswith("@outlook.com"))
# print(email3.endswith("@outlook.com"))

# # isalpha
# username = "akhil"
# print(username.isalpha())

# # isdigit
# username = "123"
# print(username.isdigit())

# # isalnum
# username = "akhil2134"
# print(username.isalnum())

# # islower
# user = "akhiL"
# print(user.islower())

# # isupper
# name = "Ch.akhil"
# print(name.isupper())
# print(name[0].isupper())

# sentence = "Once Upon A Time"
# words = sentence.split()
# print(words[0][0].isupper()) #O
# print(words[1][0].isupper()) #U
# print(words[2][0].isupper()) #A
# print(words[3][0].isupper()) #T

True
True
True
True

In [4]:
# conditional -> if, elif, else
gender = "Male"
if gender == "male":
	print("Gender is Male")
else:
	print("Gender is Female")

Gender is Female

In [6]:
gender = "MalE"
if (gender == "male"):
	print("Gender is Male")
elif (gender == "female"):
	print("Gender is Female")
else:
	print("Invalid Gender")

Invalid Gender

In [17]:
gender = "trans"
if (gender == "male") or (gender == "Male"):
	print("Gender is Male")
elif (gender == "female") or (gender == "Female"):
	print("Gender if Female")
elif (gender == "boy") or (gender == "Boy"):
	print("Gender is Boy")
elif (gender == "girl") or (gender == "Girl"):
	print("Gender is Girl")
elif (gender == "man") or (gender == "Man"):
	print("Gender is Man")
elif (gender == "woman") or (gender == "Woman"):
	print("Gender is Woman")
else:
	print("Gender is Invalid")

Gender is Invalid

In [25]:
age = -21
if (age > 0) and (age <= 5):
    print("Kid")
elif (age > 5) and (age <= 18):
    print("Teen")
elif (age > 18):
    print("Adult")
else:
    print("Invalid Age")

Invalid Age

In [27]:
name = "akhil123"
if (name.isalnum() == True):
    print("It has alphabets and digits")
elif ("akhil" in name):
    print("akhil is in name")
else:
    print("Invalid")

It has alphabets and digits

In [44]:
# multiple if
name = "Akhil123"
if (name.isalnum() == True):
    print("It has alphabets and/or digits")
if ("nikhil" in name):
    print("nikhil is in name")
if (name[0].islower() == True):
    print("First letter is in lowercase")

It has alphabets and/or digits

In [53]:
num = 121
if (num == 0):
    print("Neither Even nor Odd Number")
elif (num%2 == 0):
    print("Even Number")
else:
    print("Odd Number")

Odd Number

In [57]:
# nested if-else
num = 101
if (num > 0) and (num <= 50):
    if (num % 2 == 0):
        print(f"Small Even Number:{num}")
    else:
        print(f"Small Odd Number:{num}")
elif (num > 50) and (num <= 100):
    if (num % 2 == 0):
        print(f"Big Even Number:{num}")
    else:
    	print(f"Big Odd Number:{num}")
else:
    print("Invalid Numbers")

Invalid Numbers

In [ ]:
# # looping
# # syntax -> (end), (start, end), (start, end, step)
# for i in range(10, 15):
# 	print("Hello Akhil")
# print("Welcome to Batch6")

# for _ in range(10, 15):
# 	print("Hello Akhil")
# print("Welcome to Batch6")

# for i in range(1, 4):
#     print(f"________________{i}________________")
#     name = input("Enter Name: ")
#     print(f"Hello {name}, welcome to codewala")

# for z in range(0, 11):
#     print(z)

# for z in range(0, 21, 2):
#     print(z)

# n = 3
# for i in range(1, 21):
#     print(f"{n} x {i} = {n*i}")

# name = "akhil"
# for i in range(len(name)):
#     print(name[i])

# nums = [10, 20, 30, 40, 50, "python", "java"]
# for i in range(len(nums)):
#     print(nums[i])

# for i in range(10, 0, -1):
#     print(i)

10
9
8
7
6
5
4
3
2
1
0

In [61]:
# # while loop
# # 1 - 10
# i = 1
# while i <= 10:
#     print(i)
#     i += 1
    
# j = 10
# while j >= 1:
#     print(j)
#     j -= 1
    
# # -10 to 20
# k = -10
# while k <= 20:
#     print(k)
#     k += 1

# # 20,19,18,17....-10
# p = 20
# while p >= -10:
#     print(p)
#     p -= 1

name = "nikhil"
i = 0
while i < len(name):
    print(i, name[i])
    i += 1

0 n
1 i
2 k
3 h
4 i
5 l

In [ ]:
# # unconditional
""" 
break (terminates cuurent loop), 
continue (skips the current iteration),
pass (does nothing, it holds the space to avoid error)

"""
for i in range(5):
    if (i == 2):
        break
    else:
    	print(i)

for i in range(5):
    if (i == 3):
        continue
    else:
        print(i)

for i in range(10):
    pass

if (True):
    pass

In [ ]:
# for-else
for z in range(1, 6):
    if (z % 5 == 0):
        print("Number found")
        break
else:
    print("Else Block")

Number found

In [31]:
# check multiple of 4 exists in between 1 to 5 using for loop
for i in range(1, 6):
    if (i % 4 == 0):
        print("multiple of 4 exists")
        break
else:
    print("multiple of 4 does not exists")

multiple of 4 exists

In [ ]:
# while-else
# check multiple of 4 exists in between 1 to 5 using for loop
j = 1
while (j <= 5):
    if (j % 4 == 0):
        print("multiple of 4 exists")
        break
    j += 1
else:
    print("multiple of 4 does not exists")

multiple of 4 exists

In [ ]:
# check if a number is prime or not
number = 8
# 2, 3, 4, 5, 6
for table in range(2, number):
    if (number % table == 0):
        print("Not a prime number")
        break
else:
    print("Prime Number")

Prime Number

In [19]:
# list [], mutable, can store heterogenous data
fruits = ['apple', 'banana', 'berry']

# index
b_index = fruits.index('banana')
print(b_index)

# slicing (+ve, -ve)
print(fruits[1:]) 
print(fruits[-2:])
print(fruits[::-1])
print(fruits[:-4:-1])

# in, not in
print('Berry' in fruits)
print('Berry' not in fruits)

# len
print(len(fruits))

# count
print(f'berry count in fruits list : {fruits.count('berry')}')

# modifying elements with index
fruits[0] = fruits[0].upper()
fruits[1] = ['pineapple', 'cherry']
print(fruits, len(fruits))

1
['banana', 'berry']
['banana', 'berry']
['berry', 'banana', 'apple']
['berry', 'banana', 'apple']
False
True
3
berry count in fruits list : 1
['APPLE', ['pineapple', 'cherry'], 'berry'] 3

In [ ]:
# append -> adds element at the end
veggies = list()
print(veggies)

veggies.append('asparagus')
veggies.append('brocolli')
veggies.append('bell pepper')
print(veggies)

# extend -> concatenation of two lists
fruits = ['apple', 'banana', 'berry']

veggies.extend(fruits)
print(veggies)

fruits.extend(veggies)
print(fruits)

# insert -> can add at any index
fruits.insert(1, 'celery')
print(fruits)

# pop -> removes element based on index
['apple', 'celery', 'banana', 'berry', 'asparagus', 'brocolli', 'bell pepper', 'apple', 'banana', 'berry']
fruits.pop(4)
fruits.pop(1)
fruits.pop(2)
print(fruits)

# remove
nums = [1, 1, 2, 3, 4, 2]
nums.remove(1)
nums.remove(2)
print(nums)

# concatenate
arr1 = [1, 2, 3, 4]
arr2 = [5, 6, 7, 8]
arr = arr1 + arr2
print(arr)

# multiply list with scalar
zeroes = [0] * 10
print(zeroes)

print(arr1*5)

# max, min, sum
print(max(arr), min(arr), sum(arr1))

# reverse
arr.reverse()
print(arr)

# list conversion
name = ('akhil', 1, 'nick', 3, 4, 5)
print(list(name))

[]
['asparagus', 'brocolli', 'bell pepper']
['asparagus', 'brocolli', 'bell pepper', 'apple', 'banana', 'berry']
['apple', 'banana', 'berry', 'asparagus', 'brocolli', 'bell pepper', 'apple', 'banana', 'berry']
['apple', 'celery', 'banana', 'berry', 'asparagus', 'brocolli', 'bell pepper', 'apple', 'banana', 'berry']
['apple', 'banana', 'brocolli', 'bell pepper', 'apple', 'banana', 'berry']
[1, 3, 4, 2]
[1, 2, 3, 4, 5, 6, 7, 8]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
8 1 10
[8, 7, 6, 5, 4, 3, 2, 1]
['akhil', 1, 'nick', 3, 4, 5]
akhil

In [22]:
# unpacking
data = ["akhil", "cse", "usa"]
name, branch, state = data
print(name)

bio = ["akhil", "4987423554", 26, "cse", "usa", "single"]
name, phn, *remaining = bio
print(name, phn)
print(remaining)

akhil
akhil 4987423554
[26, 'cse', 'usa', 'single']

In [48]:
# enumerate
data = ["akhil", "cse", "usa", 23543243]
for i in range(len(data)):
    print(f"{i} {data[i]}")

print("=======================\n")

for idx, element in enumerate(data):
    print(idx, element)

print("=======================\n")

nums = [1, 20, 10, 11]
nums.sort()
print(f"ascending order: {nums}")

nums.sort(reverse=True)
print(f"descending order: {nums}")

print("=======================\n")

nums = [3, 2, 4, 1]
nums2 = sorted(nums)
nums3 = sorted(nums, reverse=True)
print(nums)
print(nums2)
print(nums3)

0 akhil
1 cse
2 usa
3 23543243
=======================

0 akhil
1 cse
2 usa
3 23543243
=======================

ascending order: [1, 10, 11, 20]
descending order: [20, 11, 10, 1]
=======================

[3, 2, 4, 1]
[1, 2, 3, 4]
[4, 3, 2, 1]

In [65]:
# list comparision
arr1 = [1, 2, 3]
arr2 = [1, 2, 3]


print(arr1 is arr2) #compares memory -> id(arr1) == id(arr2)
print(arr1 == arr2) #compares elements

# copy
arr = [3, 4, 5]
arr2 = arr.copy()
arr2.append(6)

print(arr2)
print(arr)

# nested lists
bio = ["akhil", [897652, [26, 8]], ["usa", 90]]
print(bio[1])
print(bio[1][1])
print(bio[1][0])
print(bio[2][1])
print(bio[1][1][1])

False
True
[3, 4, 5, 6]
[3, 4, 5]
[897652, [26, 8]]
[26, 8]
897652
90
8

In [ ]:
""" 
-tuple -> (), immutable 
      -list of tuples & it's unpacking
      -iterating list of tuples
      -unpacking(*var,*_)
      -sorting list of tuples 
"""
# nums = (1, 2, 3, 4, 1, 3)
# print(len(nums))
# print(nums.count(3))
# print(nums.index(4))
# print("=======================")

# -list of tuples & it's unpacking
data = [
    	(3, 'akhil', 'cse'),
        (2, 'nikhil', 'it'), 
        (4, 'kanth', 'ece'),
        (5, 'ram', 'ece')
    ]

k_id = data[2][0]
k_name = data[2][1]
k_branch = data[2][2]

# iterating list of tuples
for i in range(len(data)):
    print(f"user_id : {data[i][0]}, name: {data[i][1]}, branch: {data[i][2]}")

# unpacking(*var,*_)
a_data, n_data, k_data, r_data = data
print(n_data)

a_data, *_ = data
print(a_data)

user_id : 3, name: akhil, branch: cse
user_id : 2, name: nikhil, branch: it
user_id : 4, name: kanth, branch: ece
user_id : 5, name: ram, branch: ece
(2, 'nikhil', 'it')
(3, 'akhil', 'cse')

In [58]:
data = [
    	(3, 'akhil', 'cse', 1000),
        (2, 'nikhil', 'it', 400), 
        (4, 'kanth', 'ece', 500),
        (5, 'ram', 'ece', 200)
    ]

# sorting list of tuples 
data.sort(key=lambda x:x[0]) #sorted based on 0th index in every tuple
print(data)
print("=========================")

data.sort(key=lambda x:x[1]) #sorted based on 1st index in every tuple
print(data)
print("=========================")

data.sort(key=lambda x:x[2]) #sorted based on 2nd index in every tuple
print(data)
print("=========================")

[(2, 'nikhil', 'it', 400), (3, 'akhil', 'cse', 1000), (4, 'kanth', 'ece', 500), (5, 'ram', 'ece', 200)]
=========================
[(3, 'akhil', 'cse', 1000), (4, 'kanth', 'ece', 500), (2, 'nikhil', 'it', 400), (5, 'ram', 'ece', 200)]
=========================
[(3, 'akhil', 'cse', 1000), (4, 'kanth', 'ece', 500), (5, 'ram', 'ece', 200), (2, 'nikhil', 'it', 400)]
=========================

In [67]:
data = [
    	(3, 'akhil', 'cse', 1000),
        (2, 'nikhil', 'it', 400), 
        (4, 'kanth', 'ece', 500),
        (5, 'ram', 'ece', 200)
    ]

# k_id = data[2][0]
# r_salary = data[3][3]
# print(r_salary)

for i in range(len(data)):
    print(data[i][2])

cse
it
ece
ece

In [107]:
employee_db = [
        (1234, 'John', 'Physics', 23000),
        (1235, 'Asma', 'Maths', 13000),
        (1236, 'Samantha', 'Maths', 40000), 
        (1237, 'Amanda', 'Chemistry', 25000), 
        (1238, 'Vicky', 'Maths', 10000) 
    ]
""" 
least salaried employee
highest salaried employee
Maths employees
sorting based on employees salaries
Print employees whose name starts with A
Print employees whose salary is in range of 20000 to 30000 (inclusive).
print even id Employees
"""

print("---least salaried employee---")
least_sal_data = min(employee_db, key=lambda x:x[3]) #(1238, 'Vicky', 'Maths', 10000)
print(least_sal_data[1])

print("---highest salaried employee---")
highest_sal_data = max(employee_db, key=lambda x:x[3])
print(highest_sal_data[1])

print("-----Maths employees----")
for user in range(len(employee_db)):
    subject = employee_db[user][2]
    if (subject == "Maths"):
        print(employee_db[user][1])
        
print("----sorting based on employees salaries----")
employee_db.sort(key=lambda x:x[3])
for user in range(len(employee_db)):
    print(employee_db[user])
    
print("---Print employees whose name starts with A---")
for user in range(len(employee_db)):
    name = employee_db[user][1]
    if (name[0] == "A"):
        print(name)
        
print("---Print employees whose salary is in range of 20000 to 30000 (inclusive)---")
for user in range(len(employee_db)):
    salary = employee_db[user][3]
    if (salary >= 20000) and (salary <= 30000):
        print(employee_db[user][1], employee_db[user][3])

employee_db.sort() # to sort based on id

print("---print even id Employees---")
for user in range(len(employee_db)):
    u_id = employee_db[user][0]
    if (u_id % 2 == 0):
        print(employee_db[user][0], employee_db[user][1])

---least salaried employee---
Vicky
---highest salaried employee---
Samantha
-----Maths employees----
Asma
Samantha
Vicky
----sorting based on employees salaries----
(1238, 'Vicky', 'Maths', 10000)
(1235, 'Asma', 'Maths', 13000)
(1234, 'John', 'Physics', 23000)
(1237, 'Amanda', 'Chemistry', 25000)
(1236, 'Samantha', 'Maths', 40000)
---Print employees whose name starts with A---
Asma
Amanda
---Print employees whose salary is in range of 20000 to 30000 (inclusive)---
John 23000
Amanda 25000
---print even id Employees---
1234 John
1236 Samantha
1238 Vicky

In [ ]:
# set -> {}, mutable, duplicates not allowed, unordered, no indexes
num = set()
nums = {1, 2, 3, 4, 5}
nums.add(10)
nums.add(4)
nums.update({6, 7})

nums.remove(5)
# nums.remove(11)
nums.discard(11)
print(nums)

nums1 = {1, 2, 3, 4}
nums2 = {3, 4, 5, 6}
print(nums1.union(nums2))
print(nums1.intersection(nums2))
print(nums1.difference(nums2))
print(nums2.difference(nums1))

nums1 = {1, 2, 6}
nums2 = {3, 4, 5, 6}
print(nums1.isdisjoint(nums2))

nums1 = {1, 2}
nums2 = {1, 2, 3, 4, 5, 6}

print(nums1.issubset(nums2))
print(nums2.issubset(nums1))

print(nums1.issuperset(nums2))
print(nums2.issuperset(nums1))

arr = [1, 2, 3, 3, 4, 5, 1, 6, 7, 6, 8, 12, 10]
arr = list(set(arr))
print(arr)
print(len(arr))

{1, 2, 3, 4, 6, 7, 10}
{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{5, 6}
False
True
False
False
True
[1, 2, 3, 4, 5, 6, 7, 8, 10, 12]
10

In [37]:
# dictionary -> {}, {key:values} mutable, duplicates not allowed, unordered, no indexes
data = dict()
bio = {
        "name":"akhil", 
        "age":26, 
        1001:"id",
        23.5:"percentage",
        True:"isMarried",
        ("name", "id"): ["Harish", 10],
    }
print(bio)

data = {"name":"akhil", "name":"nikhil", "age":"akhil"}
print(data)

{'name': 'akhil', 'age': 26, 1001: 'id', 23.5: 'percentage', True: 'isMarried', ('name', 'id'): ['Harish', 10]}
{'name': 'nikhil', 'age': 'akhil'}

In [ ]:
database = {}
database["name"] = "akhil"
database["age"] = 26
database[1001] = "id"
print(database)

database["name"] = "nikhil" #updating value by passing existing key
database["age"] = 24
print(database)


print(database["name"])
print(database["age"])
print(database[1001])

database = {'name': 'akhil', 'age': 26, 1001: 'id'}
print("akhil" in database) #compares only key in dictionary
print("name" in database)

database.pop(1001)
print(database)

{'name': 'akhil', 'age': 26, 1001: 'id'}
{'name': 'nikhil', 'age': 24, 1001: 'id'}
nikhil
24
id
False
True
{'name': 'akhil', 'age': 26}

In [62]:
database = {'name': 'akhil', 'age': 26, 'id': 1001}
for k, v in database.items():
     print(k, v)

for k, v in database.items():
     if (v == 26):
     	print(k, v)

name akhil
age 26
id 1001
age 26

In [70]:
db = [('name', 'akhil'), ('age', 26), ('id', 1001)]
print(dict(db))

db1 = [["clg", "QIS"], ["phn", 324324], ["age", 34]]
print(dict(db1))

db2 = {'name': 'akhil', 'age': 26, 'id': 1001}
db2.update({'clg': 'QIS', 'phn': 324324, 'age': 34})
print(db2)

{'name': 'akhil', 'age': 26, 'id': 1001}
{'clg': 'QIS', 'phn': 324324, 'age': 34}
{'name': 'akhil', 'age': 34, 'id': 1001, 'clg': 'QIS', 'phn': 324324}

In [9]:
# # functions
# def wish():
#     print("Hello User, Happy Coding :)")

# print(wish())

def wish():
    print("Hello User, Happy Coding :)")
    return "Done"

print(wish())

Hello User, Happy Coding :)
Done

In [18]:
def nums():
    for i in range(1, 11):
        print(i)
    return "completed"

print(nums())

1
2
3
4
5
6
7
8
9
10
completed

In [21]:
def sampleAtm(name):
    return f"Hey {name}, Happy Coding :)"

print(sampleAtm("akhil"))
print(sampleAtm("nikhil"))
print(sampleAtm("Sunil"))

Hey akhil, Happy Coding :)
Hey nikhil, Happy Coding :)
Hey Sunil, Happy Coding :)

In [24]:
def sampleAtm(name):
    print(f"Hey {name}, Happy Coding :)")
    print("""select options 
            withdrawl    balance enq
            mini stmnt   deposit
        """)
    return "exit\n--------------------"

print(sampleAtm("akhil"))
print(sampleAtm("nikhil"))
print(sampleAtm("Sunil"))

Hey akhil, Happy Coding :)
select options
            withdrawl    balance enq
            mini stmnt   deposit

exit
--------------------
Hey nikhil, Happy Coding :)
select options
            withdrawl    balance enq
            mini stmnt   deposit

exit
--------------------
Hey Sunil, Happy Coding :)
select options
            withdrawl    balance enq
            mini stmnt   deposit

exit
--------------------

In [ ]:
# positional parameter/arguments
def data(name, age, gender):
    return f"Hello {name}, You are {age} years old and you are {gender}"

print(data("Akhil", 26, "Male"))
print(data("Nikhil", 24, "Male"))
print(data(22, "Priya", "Female"))

Hello Akhil, You are 26 years old and you are Male
Hello Nikhil, You are 24 years old and you are Male
Hello 22, You are Priya years old and you are Female

In [35]:
# keyword parameters
def data(name, age, gender):
    return f"Hello {name}, You are {age} years old and you are {gender}"

print(data(name="Nikhil", gender="Male", age=24))
print(data(gender="Male", name="Akhil", age=26))

Hello Nikhil, You are 24 years old and you are Male
Hello Akhil, You are 26 years old and you are Male

In [ ]:
# default parameters
def addition(n1, n2, n3=0):
    return n1 + n2 + n3

print(addition(10, 20))
print(addition(10, 20, 30))

print("-----------------")

# *args
def nums(*args):
    print(sum(args), args)

nums(1, 2, 3, 4, 5, 6)
nums(1, 2, 3)
nums(1, 2, 3, 5, 2)

print("-----------------")

# **kwargs
def bioData(**kwargs):
    print(kwargs)
    
bioData(name="akhil", age=24)
bioData(name="akhil", age=24, gender="male")

print("-----------------")

def sample(*args, **kwargs):
    print(f"args -> {args}")
    print(f"kwargs -> {kwargs}")

sample(1, 2, 3, 4, 5, 6, 7, 8, 9, name="akhil", age=24)

print("-----------------")

# passing parameters by unpacking
def sample2(n1, n2, n3):
    print(n1, n2, n3)

numbers = (1, 2, 3)
sample2(*numbers)

30
60
-----------------
21 (1, 2, 3, 4, 5, 6)
6 (1, 2, 3)
13 (1, 2, 3, 5, 2)
-----------------
{'name': 'akhil', 'age': 24}
{'name': 'akhil', 'age': 24, 'gender': 'male'}
-----------------
args -> (1, 2, 3, 4, 5, 6, 7, 8, 9)
kwargs -> {'name': 'akhil', 'age': 24}
-----------------
1 2 3

In [4]:
# lambda -> anonymous(no name) function
def add1(n1, n2):
    return n1 + n2
print(add1(10, 20))

add2 = lambda n1, n2: n1 + n2
print(add2(10, 20))

print("==================")

def sub1(n1, n2):
    return n1 - n2
print(sub1(10, 4))

sub2 = lambda n1, n2: n1 - n2
print(sub2(10, 5))

30
30
==================
6
5

In [ ]:
# recursion -> function calls itself
def nums(n):
    if (n > 0):
        print(n)
        nums(n-1) 
nums(5)

5
4
3
2
1

In [ ]:
# yield 
def evens(n):
    for i in range(2, n+1, 2):
        yield i
        
print(list(evens(10)))

[2, 4, 6, 8, 10]

In [ ]:
# module  -> .py file
# package -> collection of modules

In [ ]:
# comprehensions

# list comprehension
nums = []
for i in range(1, 11):
    nums.append(i)
print(nums)

print([i for i in range(1, 11)])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
nums = []
for i in range(1, 11):
    if (i % 5 == 0):
    	nums.append(i)
print(nums)

print([i for i in range(1, 11) if (i % 5 == 0)])

[5, 10]
[5, 10]

In [17]:
# set comprehension
nums = set()
for i in range(1, 11):
    nums.add(i)
print(nums)

print({i for i in range(1, 11)})

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [18]:
nums = set()
for i in range(1, 11):
    if (i % 2 == 0):
    	nums.add(i)
print(nums)

print({i for i in range(1, 11) if (i % 2 == 0)})

{2, 4, 6, 8, 10}
{2, 4, 6, 8, 10}

In [ ]:
# tuple comprehension
print(tuple(num for num in range(1, 11)))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [29]:
# dictionary comprehension
numbers = {}
for num in range(1, 11):
    numbers[num] = num**2
print(numbers)

numbers = {num:num**2 for num in range(1, 11)}
print(numbers)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [31]:
numbers = {}
for num in range(1, 11):
    if num % 2 == 0:
    	numbers[num] = num**2
print(numbers)

numbers = {num:num**2 for num in range(1, 11) if num % 2 == 0}
print(numbers)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}
{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [41]:
""" 
map    -> do, (stores whatever function return's)
filter -> (stores whenever function return's true)
"""

# map 
arr = [1, 2, 3, 4, 5]
print(list(map(lambda x: x**2, arr)))

# filter
result = []
for i in range(len(arr)):
    if arr[i] % 2 == 0:
        result.append(arr[i])
print(result)

print(list(filter(lambda x:x%2 == 0, arr)))

[1, 4, 9, 16, 25]
[2, 4]
[2, 4]

In [57]:
# Exceptional Handling
num = 100
den = 10
try:
	print(num/den)
except Exception as akhil:
	print("Invalid Inputs")
finally:
	print("I will execute anyway(seetaiah voice)")

10.0
I will execute anyway(seetaiah voice)

In [58]:
num = 100
den = 0

try:
	print(num/den)
except ZeroDivisionError as akhil:
	print("Please Change the denominator to non-zero")
except TypeError as akhil:
	print("Please maintain same datatype")
finally:
	print("I will execute anyway(seetaiah voice)")

Please Change the denominator to non-zero
I will execute anyway(seetaiah voice)

In [ ]:
arr = [1, 2, 3, 4]
try:
	print(arr[2])
except IndexError as e:
	print(f"arr has only {len(arr)} elements (max index:{len(arr)-1})")
except Exception as e:
	print("Error other than IndexError Occured")
	print(f"Error Details: {e}")

3