In [ ]:
# variables and values 
name = "akhil"
age = 24
salary = 500.45
isMarried = False
isCommitted = True
age = 25

# del age

print(name)
print(salary)
print("salary")            
print("12324tdgyf.@$#%^$3546")
print('igehmvwaebhe')
print("""kdslkjfhgdbgdj""")
print('''codewala''')
print(age)

In [ ]:
# variable naming conventions
""" 
- should not have spaces in variable
- should not contain numbers at start
- should start with only alphabets or _
- to separate words in variable, you can use _ or capital letter in between
- should not use keywords as variables

snake case: is_married
camel case: isMarried
pascal casse: IsMarried

"""
# keywords (it is meant to be use for something(inbuilt))
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

In [8]:
"""
data types

primitive: int, float, bool, str
composite/non-primitive: list [], tuple (), set {}, dict {key:value}
"""
name = "akhil"
age = 24
salary = 500.45
isMarried = False
isCommitted = True
age = 25

print("Primitive Data Types:")
print(name)
print(age)
print(salary)
print(isMarried)
print(isCommitted)

names = ["akhil", "adithya", "hari", 120, True, 234.3]
ages = (24, 45, 234, "ravi", "cherry")
numbers = {1, 1, 2, 3, 4, 5}
data = {"name":"akhil", "age":24, "isCommitted":True, 100:"id"}

print()

print("Composite Data Types:")
print(names)
print(ages)
print(numbers)
print(data)

Primitive Data Types:
akhil
25
500.45
False
True

Composite Data Types:
['akhil', 'adithya', 'hari', 120, True, 234.3]
(24, 45, 234, 'ravi', 'cherry')
{1, 2, 3, 4, 5}
{'name': 'akhil', 'age': 24, 'isCommitted': True, 100: 'id'}

In [ ]:
# input, output(print)
name = input("Please Enter Name:")
print("Name Entered", name)

print()

age = int(input("Please Enter Age:"))
print("Age Entered", age)

print()

salary = float(input("Please Enter salary:"))
print("salary Entered", salary)